.Results-Table {
    border-collapse: collapse;
}

.Slot, .Head-Slot {
    border: 1px solid #ddd;
    padding: 8px 20px;
    width: 100%;
}

.Head-Slot {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgba(232, 131, 177, 0.58);
    color: white;
}

.Table-Row {
    width: 100%;
}

.Table-Row:nth-child(even) {
    background-color: #f2f2f2;
}