.pager {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.button {
    list-style: none;
    border: 1px solid blue;
    border-radius: 50px;
    padding: 5px 10px;
    color: blue;
}

.link {
    text-decoration: none;
    cursor: pointer;
}

.timer {
    width: 150px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 100px;
    right: 100px;
}
.clocks {
    font-size: 45px;
    color: lightblue;
}
.timerDop {
    flex-grow: 1;
}
.textTimer {
    text-align: center;
    width: 120px;
}

