.answers {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin-bottom: 10px;
}
.answer {
    flex-grow: 1;
    order: 1;
}
.userTest {
    width: 400px;
}
.testText {
    text-align: center;
}
.colorGreen {
    color: green;
}
.colorRed {
    color: red;
}
.textColor {
    padding: 0;
    margin: 0;
}
.legendColor {
    position: absolute;
    top: 65px;
    right: 50px;
}
.export {
    float: right;
}
.resultTest {
    padding-top: 50px;
}
