.Box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Table {
    width: 48%;
    height: 400px;
    overflow: auto;
    box-sizing: border-box;
}

.Chart-Box {
    width: 48%;
    align-self: flex-end;
    position: relative;
    padding: 10px;
    border: 2px dotted lightgrey;
    box-sizing: border-box;
}

.recharts-wrapper {
    margin-bottom: -50px;
}

.Chart {
    overflow-x: scroll;
    overflow-y: hidden;
}

.recharts-layer text {
    border: 1px solid red!important;
}

#Points-Label, #Date-Label {
    position: absolute;
    color: lightgrey;
}

#Points-Label {
    left: -35px;
    top: 170px;
    transform: rotate(-90deg);
}

#Date-Label {
    bottom: -25px;
    left: 150px;
}

.Results-Heading {
    text-align: center;
    padding: 80px 0 20px;
}

.form-row li {
    margin: 0 0 10px
}
.form-row input[type="checkbox"]{display: none}
.form-row input[type="checkbox"] + label span{
    display: inline-block;
    height: 15px;
    width: 17px;
    background: url(../../../assets/Checkbox.png) 0 0 no-repeat;
    vertical-align: middle;
    margin: -2px 5px 0 0;
}
.form-row input[type="checkbox"]:checked + label span{
    background-position: 0 -15px;
}
.form-row li {
    list-style: none;
}
