.valueTag {
    cursor: pointer;
}

.subjectTitleSelect {
    padding-left: 10px;
}

.arrow {
    float: right;
    padding-top: 4px;
    font-size: 15px;
}

.dropDownSelectDiv {
    border: 1px solid #ced4da;
    border-radius: 5px;
    z-index: 1000;
    width: 920px;
    position: absolute;
    background: #ffffff;
}

.dropDownSelect {
    overflow: auto;
    height: 110px;
    padding-left: 10px;
}

.subject {
    list-style-type: none;
    cursor: pointer;
    margin: 3px 0;
    display: flex;
}
.displayPreSubjectSelect {
    z-index: 1;
}

.subjectButton {
    position: absolute;
}

.plus-button {
    padding-right: 10px;
}

.addButtonSubject {
    margin: 0 0 10px 10px;
    padding: 0!important;
}

.subjectTitle {
    width: 120px;
    cursor: pointer;
}

.starRank {
    padding-top: 7px;
    margin: 0;
}

.starDimension {
    padding-top: 3px;
}