.App {
  text-align: center;
}

.unPaid {
  width: 20px;
  height: 20px;
  color: red;
}

.paid {
  width: 20px;
  height: 20px;
  color: green;
}

.formForUser {
  margin-top: 50px
}

.titleUser {
  margin-bottom: 50px
}

.buttonPassword {
  border-top-right-radius: 3px!important;
  border-bottom-right-radius: 3px!important;
}

.marginButton {
  margin-left: 10px;
}
